*{
  box-sizing: border-box;
}
:root{
  --xRed : rgb(197,1,1);
  --oBlack : rgb(18, 8, 8);
  --color-bg:#1b2122;
  --color-white:#fff;
  --color-primary:#4db5ff;

}

body{
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  background-image: url(../src/Assest/bg-texture.png);
}

::-webkit-scrollbar{
  display: none;
}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


